<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DecisionDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <appSettings>
      <add key="Login_AutoLogin" value="True"/>
      <add key="Login_Database" value="SIrAzF4SuRM="/>
      <add key="Login_Username" value="uRTFAmAwCcw="/>
      <add key="Login_Password" value="IKwv0Z+JYuM="/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <DecisionDesktop.Properties.Settings>
            <setting name="Connection_Server" serializeAs="String">
                <value>WJZ7ntTK9GFtb3E9h5mHqw==</value>
            </setting>
            <setting name="Connection_User" serializeAs="String">
                <value>VwbAwhip2g0=</value>
            </setting>
            <setting name="Connection_Password" serializeAs="String">
                <value>1cVDXORGXaIyezdKxBiUuA==</value>
            </setting>
            <setting name="Connection_Port" serializeAs="String">
                <value>GJqzMNN9IBg=</value>
            </setting>
        </DecisionDesktop.Properties.Settings>
    </applicationSettings>
</configuration>
