<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClassesGen_NameSpace" value="Decision.TableManager" />
    <add key="ClassesGen_Includes0" value="System" />
    <add key="ClassesGen_Includes1" value="System.Collections.Generic" />
    <add key="ClassesGen_Includes2" value="System.Data" />
    <add key="ClassesGen_Includes3" value="System.Text" />
    <add key="ClassesGen_Includes4" value="System.Threading.Tasks" />
    <add key="ClassesGen_Includes5" value="Decision.Database" />
    <add key="ClassesGen_Includes6" value="Decision.Extensions" />
  </appSettings>
</configuration>